<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-contador">
      <app-seletor-quantidade [formControl]="formBuscaService.obterControle('adultos')"
        titulo="Adultos" subtitulo="(Acima de 12 anos)"/>
      <app-seletor-quantidade [formControl]="formBuscaService.obterControle('criancas')"
        titulo="Crianças" subtitulo="(Entre 2 e 11 anos)"/>
      <app-seletor-quantidade [formControl]="formBuscaService.obterControle('bebes')"
        titulo="Bebês" subtitulo="(Até 2 anos)"/>
    </div>
    <div class="selecao-categoria">
      <mat-chip-listbox aria-label="seleção de categoria">
        <mat-chip-option value="ECONÔMICA"
          [selected]="formBuscaService.formBusca.get('tipo')?.value==='ECONÔMICA'"
          (selectionChange)="formBuscaService.alterarTipo($event, 'ECONÔMICA')">
          ECONÔMICA</mat-chip-option>
        <mat-chip-option value="EXECUTIVA"
          [selected]="formBuscaService.formBusca.get('tipo')?.value==='EXECUTIVA'"
          (selectionChange)="formBuscaService.alterarTipo($event, 'EXECUTIVA')">
          EXECUTIVA</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>SELECIONAR</button>
  </div>
</section>
